@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Noto+Sans+KR&display=swap');

/* font-family: 'Bevan', serif;
font-family: 'Noto Sans KR', sans-serif; */

html{
    font-size: 17px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
    max-width: 100%;
}
figure{
    width: fit-content;
    height: fit-content;
}
body{
    font-family: 'Bevan', serif;
    font-size: 1rem;
    font-weight: 700;
}
h2{
    font-family: 'Bevan', serif;
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 5%;
}
h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
}
p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}
h6{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 30px;
}
span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    color: #9E9E9E;
}
h4{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
}
h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}



/* header */
header{
    width: 100%;
    height: 80px;
    background-color: #FF8022;
    display: flex;
}
header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
header .container nav ul{
    display: flex;
}
header .container nav ul li{
    margin-right: 30px;
}
header button{
    font-size: 2rem;
    border: none;
    background-color: inherit;
    display: none;
}
header .menu .submenu{
    display: none;
}
/* //header */

/* main */
main{
    width: 100%;
    position: relative;
    margin-bottom: 20%;
}
main p{
    font-family: 'Bevan', serif;
    font-size: 1.5rem;
}
main .text1{
    position: absolute;
    left: 21%;
    top: 10%;
}
main .text2{
    position: absolute;
    left: 30%;
    top: 35%;
}
main .text3{
    position: absolute;
    left: 21%;
    top: 75%;
}
main .text4{
    position: absolute;
    right: 22%;
    top: 6%;
}
main .text5{
    position: absolute;
    right: 22%;
    top: 66%;
}
main .text6{
    position: absolute;
    right: 18%;
    top: 89%;
    font-size: 1.6rem;
    font-weight: 800;
    color: #FF8022;
}
/* //main */



/* arne */
.arne{
    margin-bottom: 20%;
}
.arne h2{
    margin-bottom: 10vw;
}
.arne h3,p{
    line-height: 189%;
}
/* //arne */



/* work of art */
.workofart{
    height: 700px;
    overflow: hidden;
    margin-bottom: 20%;
}
.workofart h2{
    margin-bottom: 10vw;
}
.workofart h4{
    font-family: 'Bevan', serif;
}
/* //work of art */



/* togosofa */
.togo{
    margin-bottom: 20%;
    position: relative;
}
.togo h2{
    color: #FF8022;
    margin-bottom: 10vw;
}
.togo .michel{
    position: absolute;
    top: -12%;
}
.togo .textbox h3{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 100;
}
.togo .textbox h3:nth-child(3){
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FF8022;
}
.togo .textbox{
    justify-content: space-between;
}
.togo .textbox .box1{
    flex-basis:55%;
}
.togo .textbox .box2{
    flex-basis: 43%;
}
.togo h3,p{
    line-height: 180%;
}
/* //togosofa */


/* best */
.best{
    margin-bottom: 20%;
}
.best h2{
    margin-bottom: 3vw;
}
.best .col-12{
    margin-top: 10%;
}
.best h3,h6,span{
    line-height: 180%;
}
/* //best */



/* review */
.review{
    margin-bottom: 20%;
}
.review h2{
    margin-bottom: 10vw;
}
/* //review */

/* showroom */
.showroom{
    margin-bottom: 20%;
    overflow: hidden;
}
.showroom h2{
    margin-bottom: 10vw;
}
.showroom p{
    line-height: 180%;
    margin-bottom: 60px;
}
.showroom span{
    display: block;
    font-weight: 900;
    font-size: 1.2rem;
    line-height: 180%;
    color: #000;
    margin-bottom: 10px;
}
.showroom span:nth-child(4){
    margin-bottom: 50px;
}
/* //showroom */

/* footer */
footer{
    width: 100%;
    height:60vh;
    background-color: #FF8022;
    color: #fff;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    display: flex;
    align-items: center;
    position: relative;
}
footer .text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer .text .insta{
    display: block;
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    margin-top: 1.8vw;
    background: none;
    border: none;
}
footer .text p{
    margin-right: 3vw;
    margin-top: 1.5vw;
    line-height: 180%;
}
footer .text p span{
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
    margin-right: 2vw;
}
footer .top{
    border: none;
    background-color: #FF8022;
    color: #fff;
    display: block;
    position: absolute;
    right: 20%;
    top: 400px;

}
/* //footer */

@media screen and (max-width:1199px) {
    html{
        font-size:16px;
    }
    main .text2{
        left: 23%;
    }
    .togo .michel{
        max-width: 130px;
        height: 130px;
    }
    footer .text .insta{
        font-size: 1.4rem;
        margin-top: 1.9vw;
    }
    footer .top{
        top:400px;
    }
}
@media screen and (max-width:991px) {
    html{
        font-size: 15px;
    }
    .togo .michel{
        max-width: 110px;
        height: 110px;
    }
    .best h3{
        font-size: 1.1rem;
    }
    footer .text .insta{
        font-size: 1.3rem;
        margin-top: 2vw;
    }
    footer .top{
        border: none;
    }
}
@media screen and (max-width:767px){
    html{
        font-size: 16px;
    }
    header{
        background-color: #fff;
    }
    header h1{
        color: #FF8022;
    }
    header nav{
        display: none;
    }
    header button{
        display: block;
    }
    .arne .imgbox{
        padding-left: 0;
        padding-right: 0;
    }
    .arne .arnetext h3{
        font-size: 1.4rem;
    }
    .arne .arnetext p{
        font-size: 0.9rem;
    }
    .togo .michel{
        display: none;
    }
    .togo .col-12{
        display: flex;
        flex-direction: column;
    }
    .best .col-12{
        margin-bottom: 10%;
    }
    .best .img{
        padding-left: 0;
        padding-right: 0;
    }
    .best .besttext{
        padding: 0 15px;
    }
    .best .besttext h3{
        font-size: 1.4rem;
    }
    .best .besttext p,span{
        font-size: 1.1rem;
    }
    .review .reimg:nth-child(2n-1){
        padding-left: 0;
        padding-right: 7.5px;
    }
    .review .reimg:nth-child(2n){
        padding-right: 0;
        padding-left: 7.5px;
    }
    .showroom .slideimg{
        padding-left: 0;
        padding-right: 0;
    }
    .showroom .showtext span{
        font-size: 1.4rem;
    }
    .showroom .showtext p{
        font-size: 1.1rem;
    }
    footer .text{
        display: flex;
        flex-direction: column;
    }
    footer .text .insta{
        margin-top: 1.8vw;
        position: absolute;
        right: 120px;    
    }
    footer .top{
        position: absolute;
        right: 60px;
        top: 38px;
    }

}
@media screen and (max-width:575px){
    header h1{
        font-size: 1.5rem;
    }
    header button{
        font-size: 1.5rem;
    }
    main p{
        display: none;
    }
    footer .top{
        top: 45px;
    }
}
@media screen and (max-width:450px){
    footer .text .insta{
        margin-top: 2.5vw;
    }
    footer .top{
        top: 53px;
    }
}
